@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");


$fonts: "Montserrat", sans-serif;
$color-gold: #b88b58;
$font-white: #fff;
$text-uppercase: uppercase;
$background-black: #000;
$background-media: #bebebe;
$font-color-p: #7e7e7e;
$background-grey: #373737;
$color-lightgrey: #aeaeae;
$background-tell: #cfcfcf;
$border-bottom-color: #9e9e9e;