/* @media (min-width: 768px) and (max-width: 1199px) */

@import "_base";

@mixin transform-scale() {
	transform: scale(1.1);
}
@mixin width-section() {
	width: 70%;
}
@mixin row-small() {
	width: 70%;
	margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1199px) {

	.button-carusel,
	.our-button-bottom,
	.price-button,
	.premium-button,
	.contact-button,
	.button-footer {
		width: 140px;
		height: 30px;
		font-size: 12px;
	}	
//header
	nav {
		.logo {
			padding: 24px 0;
		}
		.navbar-nav {
			width: 80%;
			padding: 35px 0 0 0;
			li {
				a {				
					font-size: 10px;
				}
			}	
		}	
	}

	// carousel
	.slide-opis {
		padding-top: 10px;
		padding-bottom: 120px;
	}
	.item {
		h3 {
			font-size: 46px;
			font-weight: bold;
			line-height: 0.7;
		}
		p {
			font-size: 18px;
			line-height: 2.5
		}
	}	
	.comunication {
		letter-spacing: 3px;
	}
	.phone {
		width: 50px;
	    height: 50px;
	     top: -26px;
	    font-size: 30px;
	}
// About us
	.about-text p {
		font-size: 12px;
	}
// Services
	.services {
		.row {
			@include row-small();
		}
	}	
	.services-col {
		max-height: 240px;
		margin-bottom: 40px;
		i {
			font-size: 44px;
			color: $color-gold;
		}
		h4 {
			text-transform: $text-uppercase;
			font-size: 18px;
			font-weight: 600;
			padding: 10px;
			height: 64px;
		}
		p {
			font-size: 12px;
			padding: 0 10px;
			color: $font-color-p;
		}		
	}
	.col-globe {
		border-right: 1px solid $font-color-p;
	}
// Our projects
	.our-projects {
		width: 80%;
		.our-buttons {
			.btn {
				font-size: 10px;				
				min-width: 80px;
				height: 25px;
			}
		}	
	}
// Our team	
	.cards {
		padding: 0;
		border: none;
		img {
			margin-top: 20px;	
			max-width: 80px;
			max-height: 80px;
		}
	}	
	.desc {
		height: 80px;	
		h3 {
			font-size: 20px;
			margin-top: 5px;
			padding-top: 10px;
			line-height: 0.8;
		}	
		p {
			font-size: 12px;
		}
	}
	.media {
		margin-bottom: 20px;
		.media-square {
			width: 20px;
	        height: 20px;
	        margin: 0;
	        padding: 0;
	        background-color: $background-media;
	        border-radius: 50%;
	        border: none;
	        cursor: pointer;
	        color: $font-white;
	        transition: 0.2s;
	        .fab {
	        	font-size: 10px;
	        }
	        &:hover {
	            background-color: $color-gold;
	            color: $background-black;
	    	}
		}
	}
// Happy clients
	.happy {
		min-height: 700px;
	}
	.happy-clients {	
		img {
			width: 90px;	
			height: 90px;
			margin-top: 0;
		}
		h3 {
			font-size: 20px;
		}
		.fas {
			font-size: 30px;
			margin: 20px 0;
		}
		p {
			font-size: 12px;
			line-height: 24px;
		}
	}	
	.happy-slide {
		margin-bottom: 20px;
		min-height: 480px;
	}	
// Price
	.price-col {
		h2 {
			font-size: 26px;
			margin-top: 15px;
		}
		h5 {
			font-size: 8px;
		}
		ul {
			margin-top: 15px;
			line-height: 8px;
		}
	}	
	.price-one,
	.price-three {
		border-left: none;
	}
// Premium
	.premium-slide {
		margin-top: 0;
		margin-bottom: 0;
	}
	.desc-prem {	
		padding-left: 30px;
	}	
	.feature {
		padding-left: 10px;
		font-size: 20px;
	}
	.card-prem {
		ul {		
			padding-left: 25px;
			list-style: none;
			p {
				font-size: 12px;				
				line-height: 1.6;
			}	
			.far {
				font-size: 20px;
			}
			ul {
				li {
					font-size: 10px;
					line-height: 1.8;
					padding-left: 18px;				
				}	
			}
		}			
	}
// some facte
	.facts {
		.row {
			@include row-small();
		}
	}
// Map
	.map {
		position: relative;
		.container {
	        .address {
	        	background: $font-white;
	            max-width: 35%;
	            padding: 5px;
	            .list-item {	            	
	                font-size: 10px;
	                margin-bottom: 5px;
	                &:last-of-type {
	                    margin-bottom: 5px;
	                }
	                .square {
	                    .circle {
	                        width: 20px;
	                        height: 20px;
	                        img {
	                            height: 50%;
	                        }
	                    }
	                }
	            }
	        }
	    }
	}		
// Footer
	.up {
	    min-width: 45px;
	    min-height: 45px;
	    top: -23px;
	    img {
	        width: 80%;
	    }
	}    
	.footer {		
		min-height: 262px;
	}
	.footer-grid {
		margin-bottom: 10px;
		p {
			font-size: 10px;
		}
	}
	.media {			
			margin-bottom: 80px;
			.media-square {
				background-color: $background-grey;
				margin: 10px 3px;
			}
	}
	.button-footer {
		max-width: 120px;
	}		
}